*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header{
    
    font-size: 2.5rem; 
    color: antiquewhite; 
    padding: 15px 0; 
    text-align: center; 
}
.toolbox-cont{
    background-color: #4b4b4b;
    height:6rem;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0px;
    z-index: 4;
    padding: 0 8px;;
    
}

.toolbox-priority-cont{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 4.5rem;
    width: 45rem;
    background-color: #3d3d3d;
    border: 2px solid antiquewhite;
    border-radius: 25px;
}

.action-btn-cont{
    display: flex;
    justify-content: space-between;
    height: 4.5rem;
    width: 11rem;
    
}

.action-btn-cont>*{
    width: 45%;
    font-size: 2.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: antiquewhite;
    border: 2px solid antiquewhite;
    background-color: #3d3d3d;
    border-radius: 25px;
    cursor: pointer;
}
.action-btn-cont>*:hover{
    box-shadow: 0px 3px 3px 0 whitesmoke, 0 4px 4px 0 whitesmoke;
    position: relative;
    bottom: 3px;
}

.color{
    height: 2.5rem;
    min-width: 3rem;
    color: darkcyan;
    padding: 4px;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Kalam", cursive;
    font-style: normal;
    font-weight: 600;
    border: 2px solid antiquewhite;
    background-color: #3d3d3d;
    border-radius: 12px;
    cursor: pointer;
}
.color:hover{
    box-shadow: 0px 2px 2px 0 whitesmoke, 0 3px 3px 0 whitesmoke;
    position: relative;
    bottom: 2px;
    
}
.lightpink{
    background-color: lightpink;
}

.lightgreen{
    background-color: lightgreen;
}

.lightblue{
    background-color: lightblue;
}

.black{
    background-color: black;
}

.white{
    background-color: white;
}

.modal-cont{
    display: none;
    height: 45vh;
    width: 35vw;
    position: fixed;
    top: 20%;
    left: 32%;
    z-index: 5;
    background-color: #3d3d3d;
    border: 5px solid #deb887;
    border-radius: 20px;
    box-shadow: 14px 18px 18px 14px rgba(0, 0, 0, 0.2), 10px 35px 35px 10px rgba(0, 0, 0, 0.19)

    
}
.textarea-cont{
    resize: none;
    outline: none;
    border: none;
    border-radius: 15px 0 0 15px;
    height: 100%;
    width: 75%;
    background-color: #dfe4ea;
    font-size: 1.5rem;
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
    padding: 0.5rem;
}

.priority-colors-cont{
    height: 100%;
    width: 25%; 
    background-color: #4b4b4b;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 0px 15px 15px 0px;
    border-left: 5px solid #deb887;
}
.priority-color{
    /* height: 100%;
    width: 100%; */
    height: 14%;
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    border: 2px solid burlywood;
    border-radius: 25px;
}
.active-color{
    box-shadow: 0px 4px 6px 0px antiquewhite, 0px 4px 6px 0px antiquewhite;
    position: relative;
    height: 18%;
    width: 90%;
    bottom: 0px;
    border: 4px solid burlywood;
    border-radius: 30px;

}

.search-cont{
    position: relative;
    top: 7rem;
    display: flex;
    justify-content: center;

}
.search{
    width: 30%;
    padding: 2px 2px 2px 10px;
    resize: none;
    outline: none;
    border: 3px solid burlywood;
    font-family: "Kalam", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25rem;
    border-radius: 18px;
    background-color: antiquewhite;
}
#search-icon{
    
    font-size: 2rem;
    padding: 3px;
    color: rgba(0, 0, 0, 0.566);
    
}

.main-ticket-cont{
    display: flex;
    justify-content: center;
    gap: 3rem;
    flex-wrap: wrap;
    margin-top: 8rem;

}

.ticket-cont{
    height: 16rem;
    width: 18rem;
    background-color: burlywood;
    position: relative;
    word-wrap: break-word;
    box-shadow: 10px 10px 10px 0px rgba(0, 0, 0, 0.2), 10px 25px 25px 0px rgba(0, 0, 0, 0.19);
    border-radius: 15px ;

}
.ticketForEdit{
    position: relative;
    bottom: 12px;
    box-shadow: 15px 16px 14px 10px rgba(0, 0, 0, 0.2), 10px 35px 35px 10px rgba(0, 0, 0, 0.19);
    
}
.ticket-color{
    height:1rem;
    border-radius: 15px 15px 0 0 ;
    cursor: pointer;
     
}
.ticket-id{
    height:20px;
    font-family: "Kalam", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    padding:  4px;
    background-color: yellow;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.task-area{
    padding: 5px;
    font-family: "Kalam", cursive;
    font-weight: 100;
    font-style: normal;
    font-size: 1.1rem;
}

.ticket-lock{
    position: absolute;
    right: 4px;
    bottom: 4px;
    border-radius: 0 0px 15px 0px ;
    cursor: pointer;
}
.fa-lock-open{
    font-size: 25px;
}
.ticket-during-delete{
    box-shadow: 6px 6px 6px 0px rgb(223, 90, 90), 6px 6px 6px 0px rgb(223, 90, 90);

}

.ticket-during-delete:hover{
    border: 3px solid red;
    box-shadow: 15px 15px 15px 5px rgb(223, 90, 90), 10px 25px 20px 0px rgb(223, 90, 90);
    cursor: pointer;
    position: relative;
    bottom: 12px;

}

@media (max-width:900px)  {
    

    .toolbox-cont{
        flex-direction: column;
        justify-content: space-between;
        min-width: 8rem;
        width: 17%;
        height: 100vh;
        padding: 8px 0px;;
    }
    .toolbox-priority-cont{
        flex-direction: column;
        height: 70%;
        justify-content: space-evenly;
        padding: 2px;
        width: 96%;
    }
    .color{
        min-width: 85%; 
        max-width: 85%;
        height: auto;
        text-align: center;
        font-size: 1.25rem;
        padding: 0;
        
    }
    .header{
        font-size: 2rem;
    }
    .search-cont{
        margin: 1rem 1rem 0 9rem;
        top: 0;
        display: flex;
        justify-content: center;
    
    }
    .search{
        width: 70%;
        
    }
    .main-ticket-cont{
        height: 100%;
        margin: 2rem 0rem 0 9rem;
        /* gap: 2rem; */
    }
    .modal-cont{
        width: 55vw;
        left: 33%;
        top: 5rem;
    }
    
    
    .action-btn-cont{
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        align-items: center;
        height: auto;
        gap: 1rem;
        padding-bottom: 5px;
    }
    .action-btn-cont>*{
        font-size: 2.5rem;
        height: 4.5rem;
        width: 4.5rem;
    }
    
    
}

